body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.home_bg {
    display: flex;
    background-image: url(/assets/img/Grid.png);
    background-position: center;
    background-size: contain;
    background-color:#0e1a35;
    width: 100vw;
    height: 500px;
}
.logo {
    position: absolute;
    left: 60px;
    top: 16px;
    width: 133px;
    height: auto;
}
button {
    display: inline-block;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    height: 18px;
}
nav {
    display: block;
    width: 100vw;
}
.Login_button {
    color:#5584ff;
    width: 80px;
    height: 30px;
    border-radius: 24px;
    border: 1px solid rgba(85, 132, 255, 0.3);
    background-color: transparent;
}
.buttons {
    float: right;
    width: max-content;
    position: relative;
    right: 20px;
    top: 15px;
}